rawInput/*
!rawInput/README.md
train/*
train-tif/*
!train/README.md
train-jpg-sample/*
*.pyc
/predict/*
# sublime text config
*.sublime-project
*.sublime-workspace
sftp-config.json
.ipynb_checkpoints/*
*.out
